name: Quality Gate

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  healthcheck:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        # HAPUS "with:" dan "version:"
        # Biarkan pakai versi dari package.json

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Healthcheck
        run: node scripts/healthcheck.mjs